<footer class="page-footer">
	<div class="info">
		<div>
			<div>
				Contact Us
			</div>
			<a class="accent_yellow_text" href="tel:+2348038340495" >
				(234)-803-834-0495
			</a>
		</div>

		<div>
			<div>
				Email		
			</div>
			<a class="accent_yellow_text" href="mailto:contact@fairviewnigeria.com">
				contact@fairviewnigeria.com
			</a>
		</div>

		<div>
			<a href="https://web.facebook.com/pages/category/Medical---Health/Fairview-Nigeria-371895583362174/">
				<img src="../../../assets/images/fb.svg" class="social">
			</a>
		</div>

		<div>
			<a>
				<img src="../../../assets/images/ig.svg" class="social">
			</a>
		</div>

		<div>
			<a>
				<img src="../../../assets/images/wa.svg" class="social">
			</a>
		</div>		
		<div class="footer-copyright">
			<span>
				Igbatoro Road, Akure, Ondo, Nigeria.
			<br>
				© 2020 Fairview Nigeria. All Rights Reserved
			</span>	  		 
		</div>
	</div>
</footer>