<div id="banner" class="banner"
  [class.banner_main]="banner_.main_banner === true"
  [class.banner_sub]="banner_.main_banner === false"
  [ngStyle]="{'background-image': background_url}" *ngIf="banner_"
  [style.backgroundImage]="background_url">
  <div class="caption">
    <div class="caption_top" [class.drop_anim]="banner_.banner_page === 'home'">
      {{banner_.caption_top}}
    </div>
    <div class="caption_bottom" [class.typing_anim]="banner_.banner_page === 'home'">
      {{banner_.caption_bottom}}
    </div>

    <div *ngFor="let desc of banner_.caption_desc" class="caption_desc">
      {{desc.title}}

      <div class="caption_exp">
        {{desc.exp}}
      </div>
    </div>
  </div>

  <button *ngIf="banner_.button" class="btn dope_btn btn-md" routerLink="/{{banner_.button.button_link}}">
    {{banner_.button.button_text}}
  </button>
</div>

