.caption {
	max-width: 80%;
	width: auto;
	padding: 40px;
	margin-top: 3em;
	margin-right: 2em;
}

.main_body p {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.main_body button {
	display: block;
	margin: 30px auto;
}

.half .heading {
	padding: 1em;
}

.half .cta {
	padding: 1em;
	width: 80%;
	margin: 0 auto;
}
.half button {
	margin: 1em auto;
}