.copyright_bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
}

.collapsible-header {
    color: #60385b;
}

.caption {
	width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
}