<div class="container">
    <div class="row">
        <p>
            Experiencing the loss of a loved one can be daunting, figuring out the next steps is our way of 
            lifting some of the burden off of you. In our experience, these are some of the questions 
            you might have.<br>
            If none of these is helpful enough, our well-experienced staff are always available to walk you 
            through any concerns you might have.
        </p>
    </div>

    <div class="row">
        <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="material-icons">filter_drama</i>How to Break the News</div>
              <div class="collapsible-body"><span>this area will contain detailed brief on how Fairview advises</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">filter_drama</i>Choosing a Burial Option</div>
              <div class="collapsible-body"><span>this section will contain images and briefs for each burial option</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>Organising a Funeral</div>
                <div class="collapsible-body"><span>detailed section with process flow</span></div>
              </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">filter_drama</i>Hosting the Funeral</div>
              <div class="collapsible-body"><span></span></div>
            </li>
        </ul>
    </div>
</div>
